<ion-tabs #myTabs>
  <ion-tab tab="getData">
    <ion-header>
      <ion-toolbar>
        <ion-title>Obtener Datos</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <div id="search">
        <ion-item>
          <ion-input [(ngModel)]="searchId" type="number" label="Buscar por ID" labelPlacement="floating"></ion-input>
        </ion-item>
        
        <ion-row>
          <ion-col>
            <ion-button expand="block" (click)="searchData()">Buscar</ion-button>
          </ion-col>
          <ion-col>
            <ion-button expand="block" (click)="clearSearch()">Limpiar</ion-button>
          </ion-col>
        </ion-row>
      </div>
    
      <ion-card *ngFor="let data of filteredData">
        <ion-card-header>
          <ion-card-title>{{ data.title }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>{{ data.body }}</p>
        </ion-card-content>
      </ion-card>
    </ion-content>
  </ion-tab>

  <ion-tab tab="postData">
    <ion-header>
      <ion-toolbar>
        <ion-title>Crear Nuevo Dato</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <div id="createData">
        <h2>Crear Nuevo Dato</h2>
        <ion-item>
          <ion-input [(ngModel)]="newData.title" label="Título" labelPlacement="floating"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input [(ngModel)]="newData.body" label="Contenido" labelPlacement="floating"></ion-input>
        </ion-item>
        <ion-button expand="block" (click)="createData()">Crear Dato</ion-button>
      </div>
    </ion-content>
  </ion-tab>

  <ion-tab tab="putData">
    <ion-header>
      <ion-toolbar>
        <ion-title>Actualizar Dato</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <div id="updateData">
        <h2>Actualizar Dato</h2>
        <ion-item>
          <ion-input [(ngModel)]="dataToUpdate.id" type="number" label="ID del Dato" labelPlacement="floating"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input [(ngModel)]="dataToUpdate.title" label="Título" labelPlacement="floating"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input [(ngModel)]="dataToUpdate.body" label="Contenido" labelPlacement="floating"></ion-input>
        </ion-item>
        <ion-button expand="block" (click)="updateData()">Actualizar Dato</ion-button>
      </div>
    </ion-content>
  </ion-tab>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="getData">
      <ion-icon name="book"></ion-icon>
      Obtener Datos
    </ion-tab-button>
    <ion-tab-button tab="postData">
      <ion-icon name="add"></ion-icon>
      Crear Dato
    </ion-tab-button>
    <ion-tab-button tab="putData">
      <ion-icon name="create"></ion-icon>
      Actualizar Dato
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
